.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider {
  height: 100vh;
}

.deal_label {
  background-color: #43b8fd;
  color: white;
  padding: 5px 13px;
  border-radius: 10px;
  font-size: 10px;
}

.deal_price {
  font-weight: 800;
  color: #505050;
  font-size: 24px;
}

.deal_tax {
  display: block;
  color: #808080;
}

.deal_date {
  margin-top: 3em;
  text-align: right;
}